a.btn,
a.btn:link,
a.btn:visited,
button.btn {
  border-color: $theme-color;
  border-style: outset;
  background: $theme-color;
  color: $btn-font;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  outline:0;
  :hover {
    background-color: $theme-color-dark;
  }
}
