@import "variables";
@import "components/button";
@import "components/list";
@import "components/table";
@import "components/util";

* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  max-width: 1100px;
  margin: 0 auto;
  background: #111;
  color: #000;
}

body {
  border: 1px solid #ddd;
  background: #eee;
  margin-top: 0;
  padding: 0.5em;
}

a, a:visited, a:link {
  text-decoration: none;
  color: #bb2222;
}

a:hover {
  text-decoration: underline;
}

summary {
  padding-top: 0.5em;
  cursor: pointer;
  outline: 0;
}

.text-center {
  text-align: center;
}

.navigation {
  border: 1px solid #ddd;
  background: #eee;
  display: inline-block;
  border-radius: 0.5rem;
  padding: 1rem;
}

.navigation ul {
  margin: 2px 0 0;
  padding-left: 1rem
}